@(linkText: String, linkUrl: String)(implicit messages: Messages)

<div id="ur-panel" class="banner-panel centered-content">
    <section class="centered-content visible banner-panel__container" aria-hidden="false">
        <a href="@linkUrl"
           data-journey-click="link - click:@messages("urbanner.message.ga.text"):@linkText"
            rel="external"
            target="_blank">@linkText <span class="visuallyhidden">@messages("urbanner.message.open.new.window")</span></a>
        <a class="banner-panel__close" href="#" role="button"><span aria-hidden="true">@Messages("urbanner.message.reject")</span></a>
    </section>
</div>